@using EntityLayer.Concrete
@model List<Musteri>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en"
	  class="light-style layout-menu-fixed"
	  dir="ltr"
	  data-theme="theme-default"
	  data-assets-path="/adminPanel/assets/"
	  data-template="vertical-menu-template-free">


<body>

	<div class="layout-page">



		<div class="container-sm flex-grow-0 container-p-y">
			<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"> Müşteriler /</span>Müşteri Listesi</h4>

			<!-- Basic Bootstrap Table -->
			<div class="card">
				<h5 class="card-header">Müşteri Listesi</h5>
				<div class="table-responsive text-nowrap">
					<table class="table">
						<thead>
							<tr>
								<th>İsim</th>
								<th>Soyisim</th>
								<th>E-Mail</th>
								<th>Telefon Numarası</th>
								<th>Cinsiyet</th>
								<th>Parola</th>
								<th>Rol</th>
								
							</tr>
						</thead>
						<tbody class="table-border-bottom-0">
							@foreach (var item in Model)
							{
								<tr>

									<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Ad</strong></td>
									<td>@item.Soyad</td>
									<td>
										<ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">

											@item.Mail

										</ul>
									</td>
									<td><span class="badge bg-label-primary me-1">@item.TelefonNo</span></td>




									<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Cinsiyet</strong></td>



									<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Parola</strong></td>



									<td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Rol </strong></td>

									<td><a href="/Admin/Musteriler/DeleteMusteri/@item.MusteriID" class="btn btn-outline-danger">Sil</a></td>
									<td><a href="/Admin/Musteriler/DeleteMusteri/@item.MusteriID" class="btn btn-outline-primary">Düzenle</a></td>


								</tr>

							}
						</tbody>
					</table>
				</div>
			</div>
			</div>
			</div>


			<hr class="my-5" />






</body>
</html>